

@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');



body {
    background-image:url("voting-img.jpg");
    text-align: center; 
    background-size: cover;
}


.dates{
    display: inline-flex;
    font-family: 'Lora', serif;
    font-size: 70px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-wrap: break-word;
}

.dates > div {
    padding: 10px;
	border-radius: 3px;
	background:rgba(0, 0, 0, 0.6);
	display: inline-block;
    overflow-wrap: break-word;
}

.text {
    padding-left: 15px;
    padding-top: 5px;
	font-size: 30px;
}

.box span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    background-color: #000000;
    /*opacity: 0.5;*/

}

.box {
    color: #eeeeee;
}

.title-1{
    font-family: 'Old Standard TT', serif;
    font-size: 70px;
    color: #ffc107;
    position: relative;
    z-index: 2;
    top: 200px;
    
}


/* Iphone 6 portrait media query */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      .dates {
        display:inline-grid;
        position:relative;
        margin-left: 70px;
        font-size:32px;
      }

      .title-1 {
        position:relative;
        top: 0px;
        font-size: 40px;
        right: 10px;
      }
      .text {
        font-size: 20px;
      }

      div.election-date {
      display: inline-flex;
      font-size: 20px;
      right: 15px;
      position: relative;
    }
}
/*Landscape Iphone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
     .dates {
       margin-left: 145px;
       font-size: 32px;
       justify-content: center;
       align-items: center;
       text-align: center;
      }

      .title-1 {
        position:relative;
        top: 75px;
        font-size: 40px;
        right: 10px;
      }
      .text {
          font-size: 20px;
      }

      div.election-date {
      display: inline-flex;
      font-size: 20px;
      right: 15px;
      position: relative;
    }
}



/* IPHONE 5 media query portrain */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

       .dates {
        display:inline-grid;
        position:relative;
        margin-left: 70px;
        font-size:32px;
      }

      .title-1 {
        position:relative;
        top: 0px;
        font-size: 40px;
        right: 10px;
      }
      .text {
          font-size: 20px;
      }

      div.election-date {
      display: inline-flex;
      font-size: 20px;
      right: 0px;
      position: relative;
      }
} 


/* Ipad portrain media query */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

       .dates {
        display: inline-flex;
        position: relative;
        font-size: 62px;
        left: 135px;
      }

      .title-1 {
        position:relative;
        top: 0px;
        font-size: 60px;
        right: 10px;
      }
      .text {
          font-size: 20px;
      }

      div.election-date {
        display: inline-flex;
        font-size: 42px;
        position: relative;
        justify-content: center;
        align-items: center;
      }




}

.election-date{
    padding: 10px;
    font-family:'Lora', serif;
    color: #eeeeee;
	border-radius: 3px;
	background:rgba(0, 0, 0, 0.6);
	display: inline-block;
    overflow-wrap: break-word;
    font-size: 70px;
    opacity: 1.2S;
    display: flex;
    align-items: center;
    justify-content: center;
  
}