

@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');



body {
    background-color: #9e9e9e;
    /*background-image:url("https://source.unsplash.com/collection/355343/1600x900");*/
    text-align: center;
}


.dates{
    display: inline-flex;
    font-family: 'Lora', serif;
    font-size: 28px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dates > div {
    padding: 10px;
	border-radius: 3px;
	background:rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.text {
    padding-left: 15px;
}

.box span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    background-color: #000000;
    /*opacity: 0.5;*/

}

.box {
    color: #eeeeee;
}