

@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');



body {
    background-image:url("https://source.unsplash.com/collection/959982/1940×1229");
    text-align: center; 
    background-size: cover;
}


.dates{
    display: inline-flex;
    font-family: 'Lora', serif;
    font-size: 70px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-wrap: break-word;
}

.dates > div {
    padding: 10px;
	border-radius: 3px;
	background:rgba(0, 0, 0, 0.6);
	display: inline-block;
    overflow-wrap: break-word;
}

.text {
    padding-left: 15px;
    padding-top: 5px;
	font-size: 30px;
}

.box span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    background-color: #000000;
    /*opacity: 0.5;*/

}

.box {
    color: #eeeeee;
}

.title-1{
    font-family: 'Old Standard TT', serif;
    font-size: 70px;
    color: #ffc107;
    position: relative;
    z-index: 2;
    top: 200px;
    
}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      .dates {
          display:inline-grid;
          position:relative;
          margin-left: 70px;
          font-size:32px;
      }

      .title-1 {
          position:relative;
          top: 0px;
          font-size: 40px;
         right: 10px;
      }
      .text {
          font-size: 20px;
      }

      div.election-date {
      display: inline-flex;
      font-size: 20px;
      right: 15px;
      position: relative;
    }
}



.election-date{
    padding: 10px;
    color: #eeeeee;
	border-radius: 3px;
	background:rgba(0, 0, 0, 0.6);
	display: inline-block;
    overflow-wrap: break-word;
    font-size: 70px;
    opacity: 1.2S;
    display: flex;
    align-items: center;
    justify-content: center;
  
}